
.idea/workspace.xml
.idea/tasks.xml
.idea/datasources.xml
.idea/dataSources.ids
.idea/libraries
.idea/runConfigurations.xml
.DS_Store
build
/proguard
*.log
app/build
local.properties
.gradle
gradlew.bat
