<?xml version="1.0" encoding="utf-8"?>
<manifest package="uk.colessoft.android.hilllist"
	android:installLocation="auto" xmlns:android="http://schemas.android.com/apk/res/android"
	android:versionName="2.2" android:versionCode="30">
	<application android:icon="@drawable/icon" android:label="@string/app_name" android:name=".BritishHillsApplication"
		 android:restoreAnyVersion="false"
		android:restoreNeedsApplication="true" android:theme="@style/MyTheme"
		android:testOnly="false">
		
		<activity  android:label="@string/app_name"
			android:name=".activities.SplashScreenActivity">

			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<activity android:name=".activities.DisplayHillListFragmentActivity"></activity>
		<uses-library android:name="com.google.android.maps" />
		<activity android:name=".activities.HillDetailFragmentActivity"
			android:label="Hill Details"></activity>
		<activity android:name=".activities.Main"></activity>
		<activity android:name=".activities.AboutActivity"></activity>
		<activity android:name=".activities.BaggingExportActivity"></activity>
		<activity android:name=".activities.BusinessSearchMapActivity"></activity>
		<activity android:name=".activities.NearbyHillsFragmentActivity"></activity>
		<activity android:name=".activities.NearbyHillsMapFragmentActivity"></activity>
		<activity android:name=".activities.ListHillsMapFragmentActivity"></activity>
		<activity android:name=".activities.CheckHillListActivity"></activity>
		<activity android:name=".activities.DetailGMapActivity"></activity>
		<activity android:name=".activities.BusinessDetailActivity"></activity>
		<activity android:name=".activities.ScottishHillsActivity"
			android:label="@string/label_scottish_hills"></activity>
		<activity android:name=".activities.WelshHillsActivity"
			android:label="@string/label_welsh_hills"></activity>
		<activity android:name=".activities.EnglishHillsActivity"
			android:label="@string/label_english_hills"></activity>
		<activity android:label="@string/label_other_GB_hills"
			android:name=".activities.OtherGBHillsActivity"></activity>
		<activity android:name=".activities.PreferencesActivity"></activity>
		<activity android:name=".activities.ImageSearchActivity"></activity>
		<activity android:name=".activities.OsMapActivity"></activity>
	</application>
	<uses-sdk android:minSdkVersion="7" android:targetSdkVersion="11" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.INTERNET" />

	<supports-screens android:resizeable="true"
                  android:smallScreens="true" 
                  android:normalScreens="true" 
                  android:largeScreens="true" 
                  android:xlargeScreens="true"
                  android:anyDensity="true"/>

</manifest> 